.text{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 0.8rem;
  }

 .no-gutters{
  cursor: pointer;
 } 

.titles-big{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
  }
.titles-little{
    font-size: 1.0rem;
    font-weight: 500;
    color: black;
  }
.pharagraph-gray{
    font-size: 0.8rem;
    color: slategray;
  }
.pharagraph-gray a{
    text-decoration-line: underline;
  }
.navbar-style{
    font-family: Helvetica;
    font-size: 14px;
  }
.navbar-style:hover{
    color: black;
    cursor: pointer;
  }
.features-text{
    color: green;
  }
.profile-image{
    border-radius: 150px;
  }
.card-medium-img{
      height: 75px;
  }

#callNewPostFormBtn{
    height: 8vh;
    font-size: 0.9rem;
    text-align: start;
}

#txtGuide{
    font-size: 0.5rem;
    color: red;
}

  #responsAside {
    height: 50px;
    width: 100px;
  }
  #responAside{
    width: 100%;
  }
  hr{
    border-top: 5px;
  }
  .title-Popular {
    padding-top: 10px;
    text-align: center;
    font-family: medium-content-sans-serif-font,"Lucida Grande";
    height: auto;
  }
  .number-Aside {
    text-align: center;
    width:300px;
    font-family: medium-content-sans-serif-font,"Lucida Grande";
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px; 
   }
  
   .text-Table{
     text-align: left;
     font-family: medium-content-sans-serif-font,"Lucida Grande";
     padding-left: 5px;
    padding-right: 5px;
    line-height: 18px;
    font-size: 20px
    
  
   }
   .title-Aside {
    font-weight: bold;
  }
  .creation-Aside{
    font-style: italic
  }
  tr:hover{
    /* background-color: gainsboro; */
    color: lightgrey;
    transition: .5s;
  }


  /*estilos de la card y modal*/

#card-image{
    width: 220px;
    height: 220px;
}

#card-sample{

}
#card-sample-text-btn{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    font-size: 0.8rem;
    font-style: italic;
}

#card-sample-title-btn{
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#card-sample-content{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    font-size: 0.9rem;
}

#card-sample-date{
    color: gray;
}

/*estilos de la card y modal*/